@use 'sass:map';
@use 'sass:math';
@use './vars' as *;

@mixin link(
  $color: map.get($map: $colors, $key: blue),
  $hoverColor: map.get($map: $colors, $key: red),
  $font-family: $default-font-family
) {
  color: $color;
  transition: color 200ms ease;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $hoverColor;
  }
}

@mixin loader($borderWidth, $size, $color) {
  &:after {
    content: '';
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: -9999em;
    transform: translateZ(0);
    animation: spin 1.1s infinite linear;
    border-top: $borderWidth solid rgba($color, 0.2);
    border-right: $borderWidth solid rgba($color, 0.2);
    border-bottom: $borderWidth solid rgba($color, 0.2);
    border-left: $borderWidth solid $color;
    width: $size;
    height: $size;
    margin-left: math.div(-$size, $unit * 0.5);
    margin-top: math.div(-$size, $unit * 0.5);
  }
}

@mixin heading($size: 'md', $weight: 'semibold') {
  font-family: $default-font-family;
  font-weight: map.get($font-weights, $weight);
  font-size: map.get($font-sizes-h, $size);
}

@mixin paragraph($size: 'md', $weight: 'regular') {
  font-family: $default-font-family;
  font-weight: map.get($font-weights, $weight);
  font-size: map.get($font-sizes-p, $size);
}

@mixin respond($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}
