@use 'sass:map';
@use '../../styles/vars' as *;
@use '../../styles/mixins';

.ideas {
  width: 100%;
  margin-top: $unit * 6;
  display: flex;
  flex-direction: column;
  gap: $unit * 4;

  .idea {
    width: 100%;
    padding: $unit * 5;
    display: flex;
    flex-direction: column;
    gap: $unit * 3;
    border: 1px solid map.get($map: $colors, $key: black);
    border-radius: $unit * 2;

    .ideaLink {
      @include mixins.link;
    }
  }
}
