@use 'sass:map';
@use '../../styles/vars' as *;
@use '../../styles/mixins';

.createdAt {
  font-size: $unit * 3;
  margin-bottom: $unit * 3;
}

.author {
  font-weight: map.get($font-weights, medium);
  font-size: $unit * 4;
  margin-bottom: $unit * 5;
}

.text {
  @include mixins.paragraph(md, regular);
  margin-top: $unit * 5;

  & > *:not(:first-child) {
    margin-top: $unit * 2;
  }
}

.likes {
  margin-top: 20px;

  .likeButton {
    @include mixins.link;
  }
}

.editButton {
  margin-top: $unit * 5;
}
