@use 'sass:map';
@use '../../styles/vars' as *;
@use '../../styles/mixins';

.createdAt {
  font-size: $unit * 3;
  margin-bottom: $unit * 3;
}

.author {
  font-weight: map.get($font-weights, medium);
  font-size: $unit * 4;
  margin-bottom: $unit * 5;
}

.text {
  @include mixins.paragraph(md, regular);
  margin-top: $unit * 5;
  word-break: break-all;

  & > *:not(:first-child) {
    margin-top: $unit * 2;
  }
}

.likes {
  margin-top: 20px;

  display: flex;
  align-items: center;
  gap: 8px;

  .likeButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    color: transparent;
    transition: color 0.3s ease;

    &.liked {
      color: #ff0000;

      .heartIcon {
        fill: currentcolor;
        stroke: currentcolor;
      }
    }
  }
}

.editButton {
  margin-top: $unit * 5;
}

.blockIdea {
  margin-top: $unit * 5;
}

.heartIcon {
  width: 24px;
  height: 24px;

  fill: transparent;
  stroke: black;
  stroke-width: 2;
  transition: fill 0.3s ease;
}
